<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ninja Gold</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'gold/style.css' %}">
    </head>
    <body>
        <div class="golddisplay">
            <label for="golds">Your Gold</label>
            <input type="text" disabled name="golds" value="{{ request.session.total }}">
        </div>
        <div class="buildings">
            <form action='/process_money/farm' method="POST">
                {% csrf_token %}
                <h2>Farm</h2>
                <h3>(earns 10-25) golds</h3>
                <input type="submit" value="Find Gold!">
            </form>
            <form action='/process_money/cave' method="POST">
                {% csrf_token %}
                <h2>Cave</h2>
                <h3>(earns 5-10) golds</h3>
                <input type="submit" value="Find Gold!">
            </form>
            <form action='/process_money/house' method="POST">
                {% csrf_token %}
                <h2>House</h2>
                <h3>(earns 1-5) golds</h3>
                <input type="submit" value="Find Gold!">
            </form>
            <form action='/process_money/casino' method="POST">
                {% csrf_token %}
                <h2>Casino</h2>
                <h3>(earns/takes 0-60) golds</h3>
                <input type="submit" value="Find Gold!">
            </form>
        </div>
        <h3>Activities</h3>
        <div class="message-log">
            {% for log in request.session.logs reversed %}
                <p class='{{ log.class  }}'>{{ log.message }}</p>
                {% endfor %}
        </div>
    </body>
</html>