<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h2>Are you positive you want to delete the following subject?</h2>
        <p><strong>Name: </strong>{{ subject.name }}</p>
        <p><strong>Description: </strong>{{ subject.desc }}</p>
        <a href="/"><button type="">NO</button></a><a href="/subjects/{{ subject.id }}/delete"><button>Yes! I want to delete this</button></a>
    </body>
</html>