<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'subjects/style.css' %}">
    </head>
    <body>
        <h2>Add a new subject</h2>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        <form action='/subjects/create' method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name">
            </div>
            <div class="form-group">
                <label for="desc">Description</label>
                <textarea type="text" rows="8" cols="50" name="desc"></textarea>
            </div>
            <input type="submit" value="Add">
    </form>
    <h2>Subjects</h2>
    <table>
        <thead>
            <tr>
                <th>Subject Name</th>
                <th>Description</th>
                <th>Date Added</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for subject in subjects %}
            <tr>
                <td>{{ subject.name }}</td>
                <td>{{ subject.desc }}</td>
                <td>{{ subject.created_at }}</td>
                <td><a href="/subjects/{{ subject.id }}/confirm"><button type="">remove</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </body>
</html>